body{font-family: 'Roboto', arial}
.clearfix::after{content:"";display:table;clear:both}
.blog{font-family:georgia,garamond,serif;font-size:40px;font-style:italic;margin-top:26px;margin-right:125px;display:inline-block;font-family:PTSerif;font-size:40px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#05183b}
.Celebrity{width:70px;height:20px;font-family:PTSerif;font-size:16px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#05183b}
.Fashion-Beauty{width:137px;height:20px;font-family:PTSerif;font-size:16px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#05183b}
.Health-Food{width:113px;height:20px;font-family:PTSerif;font-size:16px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#05183b}
.Travel-Living{width:120px;height:20px;font-family:PTSerif;font-size:16px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#05183b}
.Wellness1{height:20px;font-family:PTSerif;font-size:16px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#05183b}
ul{list-style:none}
*{margin:0;padding:0}
.container{max-width:100%;width:1200px;margin:auto}
.menu-item-collection{text-align:center}
.menu-item-link{display:inline-block;height:40px;line-height:40px;margin-right:40px;margin-top:42px;font-family:PTSerif;font-size:16px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#05183b}
.container1{float:left;position:relative;width:30%}
.container_heading{clear:both;text-align:center;padding-top:127px;height:31px;font-family:PTSerif;font-size:24px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:.5px;text-align:center;color:#232323}
.section_parent{margin-top:86px}
.section_parent::after{display:table;clear:both;content:""}
.section_child_1{float:left}
.section_child_2{float:left;margin-left:56px}
.section_child_12{float:left;padding-left:30px}
.section_text{height:18px;font-family:PTSerif;font-size:14px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:.5px;color:#232323;text-align:center}
.Subscribe{width:124px;height:33px;font-family:PTSerif;font-size:26px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:.5px;color:#232323}
.You-can-enter-your-e{width:304px;height:36px;font-family:PTSerif;font-size:14px;font-weight:400;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:.5px;color:#232323}
.Enter-you-Email-ID{height:17px;font-family:PTSerif;font-size:13px;font-weight:400;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:1px;color:#232323;float:left}
.Rectangle{width:304px;height:40px;opacity:.05;border-radius:8px;background-color:#000;clear:both;padding-top:20px}
.ic-arrow{float:right}
.Trending-Now{width:170px;height:31px;font-family:PTSerif;font-size:24px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:.5px;color:#232323;padding-top:70px}
.Latest-Posts{width:144px;height:31px;font-family:PTSerif;font-size:24px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:.5px;color:#232323;padding-top:70px}
.posts_parent{clear:both}
.posts_child_1{float:left}
.posts_child_2{float:right}
.Bitmap{width:288px;height:237px;float:left;padding-top:70px}
.Bitmap_1{width:288px;height:237px;float:left;padding-top:50px}
.bitmap_24{float:left;padding-top:40px}
.bitmap_24_1{float:left;padding-top:10px}
.Wellness{width:55px;height:15px;font-family:PTSerif;font-size:12px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:.5px;padding-bottom:19px}
.Wellness2{width:55px;height:15px;font-family:PTSerif;font-size:12px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:.5px;padding-bottom:19px;padding-top:20px}
.The-Anti-Office-Work{height:20px;font-family:PTSerif;font-size:16px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#05183b}
.Lorem-ipsum-dolor-si{height:60px;font-family:PTSerif;font-size:13px;font-weight:400;font-style:normal;font-stretch:normal;line-height:1.54;letter-spacing:.5px;color:#232323;padding-top:10px}
.Read-More1{height:20px;font-family:PTSerif;font-size:12px;font-weight:700;font-style:normal;font-stretch:normal;line-height:1.67;letter-spacing:.5px;color:#282629;float:left}
.Read-More{width:67px;height:20px;font-family:PTSerif;font-size:12px;font-weight:700;font-style:normal;font-stretch:normal;line-height:1.67;letter-spacing:.5px;color:#282629;float:left}
.Read-More_parent{clear:both;padding-top:50px}
.Read-More_parent_1{clear:both;padding-top:70px}
.Path{height:7.7px;float:left}
.-ways-to-ensure-che{width:226px;font-family:PTSerif;font-size:16px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#05183b}
.-tips-to-make-trave{width:447px;height:20px;font-family:PTSerif;font-size:16px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#05183b}
.Managing-Life-with-R{width:240px;height:40px;font-family:PTSerif;font-size:14px;font-weight:700;font-style:normal;font-stretch:normal;line-height:1.43;letter-spacing:.5px;color:#232323}
.Bitmap_19{width:100px;height:100px;object-fit:contain}
.Latest-Posts_parent{display:table;table-layout:fixed;padding-top: 29px;padding-bottom: 29px;}
.Latest-Posts_child{display:table-cell;vertical-align:middle}
hr{background-color:#fff}
.Best-articles-from-o{height:37px;font-family:PTSerif;font-size:28px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:.58px;text-align:center;color:#232323}
.Best-articles-from-o_1{height:37px;font-family:PTSerif;font-size:28px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:.58px;text-align:center;color:#232323;padding-top:70px;padding-bottom:40px}
.best_article{width:100%;padding-top:45px}
.best_article_child{float:left;width:50%}
.best_article_child_1{float:left;width:50%;padding-left:20px}
.best_article_child_2{float:left;width:46%}
.bitmap_24_size{height:284px;width:288px}
.best_article_1{clear:both;width:100%}
.dont_miss{width:100%}
.dont_miss_1{width:272px;height:240px}
.dont_miss_parent{width:272px}
.High-Intensity-Worko{width:242px;height:20px;font-family:PTSerif;font-size:16px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#05183b}
.Lorem-ipsum-dolor-si_1{width:242px;height:80px;font-family:PTSerif;font-size:12px;font-weight:400;font-style:normal;font-stretch:normal;line-height:1.67;letter-spacing:.5px;color:#232323}
.dont-miss{float: left;padding-right: 28px;}
.footer-child{float:left;width: 108px;
  height: 180px;
  font-family: PTSerif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.75;
  letter-spacing: normal;
  color: #ffffff;}
  .footer-child-next{
      width: 232px;
      height: 60px;
      font-family: PTSerif;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.88;
      letter-spacing: normal;
      padding-left: 181px;
      color: #ffffff;
  }
  .footer-child-right{float: right;padding-right: 20px}
  .footer-parent
  {
    padding-top: 85px;
    background-color: black;
  }
  .retangle{
      width: 1280px;
      height: 496px;
      background-color: #141414;
  }
  .dont-miss-content{
    background-color: white;
  }
  .dont-miss-parent{
    margin: 0 0 45px 0;
  }
  .best-article-parent{
    width:100%;
    margin: 40px 0 0 0;
  }
  .best-article-child{
    width:50%;
    float:left;
    margin:0 0 40px 0;
  }
