body{font-family: 'sans-serif'}
.clearfix::after{content:"";display:table;clear:both}
.blog{font-family:georgia,garamond,serif;float:left;font-size:40px;font-style:italic;margin-top:26px;margin-right:125px;display:inline-block;font-size:40px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#05183b}
.Celebrity{width:70px;height:20px;font-size:16px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#05183b}
.Fashion-Beauty{width:137px;height:20px;font-size:16px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#05183b}
.Health-Food{width:113px;height:20px;font-size:16px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#05183b}
.Travel-Living{width:120px;height:20px;font-size:16px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#05183b}
.Wellness1{height:20px;font-size:16px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#05183b}
ul{list-style:none}
*{margin:0;padding:0}
.container{max-width:100%;width:1200px;margin:auto}
.menu-item-collection{text-align:center}
.menu-item-link{display:inline-block;height:40px;line-height:40px;margin-right:40px;margin-top:42px;font-size:16px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#05183b}
.container1{float:left;position:relative;width:30%}
.container_heading{clear:both;text-align:center;padding-top:127px;height:31px;font-size:24px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:.5px;text-align:center;color:#232323}
.section_parent{margin-top:86px}
.section_parent::after{display:table;clear:both;content:""}
.section_child_1{float:left;position: relative;}
.section_child_2{float:left;margin-left:56px}
.section_child_12{float:left;margin-left:30px;position: relative;}
.section_text{height:18px;font-size:14px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:.5px;color:#232323;text-align:center; width: 152px;
  height: 47px;
  border-radius: 4px;
  box-shadow: 0 25px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  position: absolute;
  bottom: -26px;
  left: 10px;}
.Subscribe{width:124px;height:33px;font-size:26px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:.5px;color:#232323}
.You-can-enter-your-e{margin:21px 0 20px 0;width:304px;height:36px;font-size:14px;font-weight:400;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:.5px;color:#232323}
.Enter-you-Email-ID{height:17px;font-size:13px;font-weight:400;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:1px;color:#232323;float:left}
.Rectangle{width:304px;height:40px;opacity:.05;border-radius:8px;background-color:#000;clear:both;padding-top:20px}
.ic-arrow{float:right}
.Trending-Now{width:170px;height:31px;font-size:24px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:.5px;color:#232323;padding-top:70px}
.Latest-Posts{width:144px;height:31px;font-size:24px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:.5px;color:#232323;padding-top:70px}
.posts_parent{clear:both}
.posts_child_1{float:left}
.posts_child_2{float:right}
.Bitmap{float:left;position: absolute; 
  width: 544px;
  height: 217px;
  border-radius: 12px;
  box-shadow: 0 25px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;top: 10px;
  left: 248px;}
  .Bitmap1{float:left;position: absolute; 
    width: 338px;
    height: 217px;
    border-radius: 12px;
    box-shadow: 0 25px 20px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;top: 10px;
    left: 248px;}
.Bitmap_1{width:288px;height:237px;float:left;padding-top:50px}
.bitmap_24{float:left;position: relative;}
.bitmap_24_1{float:left;padding-top:10px}
.Wellness{width:55px;font-size:12px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:.5px;
  border-radius: 5px;
  background-color: #282629;color: white;    margin: 0 0 19px 0;}
.Wellness2{width:55px;height:15px;font-size:12px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:.5px;padding-bottom:19px;padding-top:20px}
.The-Anti-Office-Work{height:20px;font-size:16px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#05183b}
.Lorem-ipsum-dolor-si{font-size:13px;font-weight:400;font-style:normal;font-stretch:normal;line-height:1.54;letter-spacing:.5px;color:#232323;padding-top:10px}
.Read-More1{height:20px;font-size:12px;font-weight:700;font-style:normal;font-stretch:normal;line-height:1.67;letter-spacing:.5px;color:#282629;float:left}
.Read-More2{width:67px;height:20px;font-size:12px;font-weight:700;font-style:normal;font-stretch:normal;line-height:1.67;letter-spacing:.5px;color:#282629;float:left}
.Read-More{    position: absolute;
  top: 92px;
  left: 20px;width:67px;height:20px;font-size:12px;font-weight:700;font-style:normal;font-stretch:normal;line-height:1.67;letter-spacing:.5px;color:#282629;float:left}
.Read-More_parent{padding-top:5px}
.Read-More_parent_1{clear:both;padding-top:70px}
.Path{height:7.7px;float:left}
.-ways-to-ensure-che{width:226px;font-size:16px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#05183b}
.-tips-to-make-trave{width:447px;height:20px;font-size:16px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#05183b}
.Managing-Life-with-R{width:240px;height:40px;font-size:14px;font-weight:700;font-style:normal;font-stretch:normal;line-height:1.43;letter-spacing:.5px;color:#232323}
.Bitmap_19{width:100px;height:100px;object-fit:contain}
.Latest-Posts_parent{display:table;table-layout:fixed;padding-top: 29px;padding-bottom: 29px;}
.Latest-Posts_parent-1{display:table;table-layout:fixed;padding-top: 40px;padding-bottom: 29px;}
.Latest-Posts_child{display:table-cell;vertical-align:middle}
hr{background-color:#fff}
.Best-articles-from-o{height:37px;font-size:28px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:.58px;text-align:center;color:#232323}
.Best-articles-from-o_1{height:37px;font-size:28px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:.58px;text-align:center;color:#232323;padding-top:70px;padding-bottom:40px}
.best_article{width:100%;padding-top:45px}
.best_article_child{float:left;width:50%;position: relative; border-radius: 12px;
    box-shadow: 0 25px 20px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;}
.best_article_child_1{float:left;width:50%;padding-left:20px;position: relative;}
.best_article_child_2{float:left;width:46%; border-radius: 12px;
  box-shadow: 0 25px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;}
.bitmap_24_size{height:284px;width:288px}
.best_article_1{clear:both;width:100%}
.dont_miss{width:100%}
.dont_miss_1{width:272px;height:240px}
.dont_miss_parent{width:272px}
.High-Intensity-Worko{width:242px;height:20px;font-size:16px;font-weight:700;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#05183b}
.Lorem-ipsum-dolor-si_1{width:242px;font-size:12px;font-weight:400;font-style:normal;font-stretch:normal;line-height:1.67;letter-spacing:.5px;color:#232323}
.dont-miss{float: left;padding-right: 28px;}
.footer-child{float:left;width: 108px;
  height: 180px;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.75;
  letter-spacing: normal;
  margin: 0 0 0 100px;
  color: #ffffff;}
  .footer-child-next{
      width: 232px;
      height: 60px;
      font-family: PTSerif;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.88;
      letter-spacing: normal;
      color: #ffffff;
      margin: 0 0 0 400px;
  }
  .footer-child-right{float: right;padding-right: 20px}
  .footer-parent
  {
    padding-top: 85px;
    background-color: black;
  }
  .retangle{
      width: 1280px;
      height: 496px;
      background-color: #141414;
  }
  .dont-miss-content{
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 25px 20px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
  }
  .dont-miss-parent{
    margin: 0 0 45px 0;
  }
  .best-article-parent{
    width:100%;
    margin: 40px 0 0 0;
  }
  .best-article-child{
    width:50%;
    float:left;
    margin:0 0 40px 0;
  }
  .header-parent{
    margin-top: 26px;
  }
  .post-child-1{margin: 40px 0 0 0;float:left;}
  .post-child{margin: 0 0 30px 0;}
  .post-child-2{margin: 40px 0 30px 0;}
  .Subscribe-img{margin: -30px 0 53px 0;}
  .section-child{    position: absolute;
    top: 50%;
    left: 90%;
    width: 70px;
    height: 70px;
    box-shadow: 0 25px 20px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    border-radius: 40px;
    }
    .Substitutes{
      width: 456px;
      font-size: 26px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      height: 60px;
      background: border-box;
      background-color: black;
      border-radius: 15px;
     text-align: center;
     position: absolute;
     top: 45%;
     left: 3%;
    }
    .substi{
      position:abslute;
    }
    .lorem
    {
        width: 682px;
        height: 147px;
        border-radius: 15px;
        box-shadow: 0 25px 20px 0 rgba(0, 0, 0, 0.04);
        background-color: #ffffff;
        position: absolute;
        left: 3%;
        top: 85%;
    }
    .loremm{
      width: 642px;
  height: 60px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.5px;
  color: #232323;
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
    }
    .section-c{
      position: absolute;
      left: 31px;
      top: 25px;
    }
    .section-a{
      top: 15px;
      position: absolute;
      left: 17px;
    }
    .sec-tx{
      position:absolute;
      left: 42px;
      top: 15px;
    }
    .bit-map-child{    position: absolute;
      top: 17px;
      left: 14px;}